{% extends "webapp/header.html" %}
{% block content %}
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">

    <title>Home PAGE</title>
</head>
<body ng-controller="MyCtrl">
<!--<h1>HI hi hhhhi</h1>-->
<div id="exTab3" class="container">
  <h3>Choose Category you want to shop</h3>

  <ul class="nav nav-pills">
    <li class="active" data-toggle="tab" ><a href="#1a">Electronics</a></li>
    <li   ><a href="#1b" data-toggle="tab">Clothings</a></li>
    <li  ><a href="#1c" data-toggle="tab">Books</a></li>
    <li  ><a href="#1d" data-toggle="tab">House hold goods</a></li>
  </ul>

        <div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
                     <!--<h3>Electronics</h3>-->
<div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-pinning ui-grid-selection></div>
                     <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->
              </div>
			  <div class="tab-pane " id="1b">
                    <div id="grid2" ui-grid="{ data: myData }" class="grid"></div>
              </div>
			  <div class="tab-pane " id="1c">
                   <div id="grid3" ui-grid="{ data: myData }" class="grid"></div>
              </div>
			  <div class="tab-pane " id="1d">
                  <div id="grid4" ui-grid="{ data: myData }" class="grid"></div>
              </div>

        </div>



</div>
<div class="container">
<div class="row">

    <div class="col-sm-2 col-3">
        <button  name="CheckOut" ng-model="checkOut"  class="btn btn-primary" ng-click="checkOut()">View Details</button>
    </div>


    <div class="col-sm-2 col-sm-offset+8 col-4">
        <button name="reSet" ng-model="reSet"  class="btn btn-info"> Reset</button>
    </div>

</div>
</div>

</body>
<script>

    var app = angular.module('myApp', ['ngAnimate','ngRoute','ngTouch','ui.grid','ui.grid.edit','ui.grid.pinning','ui.grid.selection','ui.bootstrap']);
app.controller('MyCtrl',['$scope','$log','$timeout','uiGridConstants','$templateCache','$http','$uibModal',function($scope,$log,$timeout,$uiGridConstants,$templateCache,$http,$uibModal) {
$cntrl = this;
$scope.data=[{id: '1',Qty: '1'},{id: '2',Qty: '2'}]


 $scope.gridOptions = {
  enableRowSelection: true,
  enableSelectAll: true,
    selectionRowHeaderWidth: 35,
    rowHeight: 35,
    showGridFooter:true
    };
$scope.gridOptions.columnDefs = [
    { name:'Model', width:250, pinnedLeft:true },
    { name:'Price', width:100, pinnedLeft:true },
    { name:'Company', width:100, pinnedLeft:true  },
    { name:'Discount', width:150  },
     <!--{ name: 'Cart', displayName: 'Cart', type: 'boolean',cellTemplate: '<input type="checkbox" ng-model="row.entity.cart">'},-->
      <!--{ name: 'Qty', displayName: 'Qty',editableCellTemplate: 'ui-grid/dropdownEditor',width: '20%',editDropdownValueLabel:'Qty',editDropdownOptionsArray:$scope.data}-->
      <!--type: 'integer',cellTemplate: '<select name="repeatSelect" id="repeatSelect" ng-model="qty"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>'},-->
     ]

     $scope.gridOptions.multiSelect = true;




    $scope.gridOptions.data = [ {
        "Model": "HTC ONE",
        "Price": "$500",
        "Company": "HTC",
        "Discount": "10%",

        <!--'Cart':'<button ng-click="grid.appScope.clickHandler()">Click Here</button>',-->
        <!--'<button ng-click="grid.myApp.clickHandler()">+</button>',-->
    },
    {
        "Model": "HTC Desire 728 dual sim",
        "Price": "$700",
        "Company": "HTC",
        "Discount": "12%",

    },
    {
        "Model": "HTC U11",
        "Price": "$900",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC U Ultra",
        "Price": "$780",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC U Play",
        "Price": "$560",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC One A9s",
        "Price": "$600",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC Desire 10 pro dual Sim",
        "Price": "$451",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC 10",
        "Price": "$390",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC Desire 830 dual Sim",
        "Price": "$200",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC 628 Desire Dual Sim",
        "Price": "$564",
        "Company": "HTC",
        "Discount": "10%",

    },{
        "Model": "HTC One X9",
        "Price": "$746",
        "Company": "HTC",
        "Discount": "10%",

    },];
    var test=[];
    $scope.selection =[];
     $scope.gridOptions.onRegisterApi = function(gridApi){
      //set gridApi on scope
      $scope.gridApi = gridApi;
      gridApi.selection.on.rowSelectionChanged($scope,function(row){
        var msg = 'row selected ' + row.isSelected;
        $log.log(msg);
      });

      gridApi.selection.on.rowSelectionChangedBatch($scope,function(rows){
        var msg = 'rows changed ' + rows.length;
        $log.log(msg);
      });
    };
    <!--$timeout(function() {-->
        <!--if($scope.gridApi.selection.selectRow){-->
          <!--$scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);-->
        <!--}-->
        <!--});-->

        $scope.checkOut = function(){




        var postPayLoad = [];
        console.log($scope.gridOptions.data);
         test = $scope.gridApi.selection.getSelectedRows();
     $scope.selection= test;
    console.log("test------------------------->>>>>>>>>>>.",test);
        angular.forEach($scope.gridOptions.data,function(k,v){




        console.log(k);
            if(k['cart']===true){
            postPayLoad.push(k);
            }
        });

         var modalInstance = $uibModal.open({
            animation: true,
            templateUrl: 'popUp',
            controller: 'ModelHandlerController',
            controllerAs: 'vm',

            size: 'lg',
            scope:$scope,
            resolve: {
                item: function () {
                    return $scope;
                }
            }
        });
        <!--$http({ method: 'POST',-->
                  <!--url: 'checkout',-->
                   <!--dataType: "json",-->
                   <!--data:{test},-->
                <!--}).then(function successCallback(response) {-->
                <!--},function error(response){-->


                <!--});-->
        console.log("postPayLoad",$scope.selection);
        }


}]);

app.controller("ModelHandlerController",function($scope,$uibModalInstance,item){
    var vm = this;
    vm.item = item;
   // vm.scope= scope;
    console.log(item,$scope.selection);

  // console.log("test",test[0]);
 $scope.cancelModal = function(){
 console.log("cancelmodal");
 $uibModalInstance.close();
 };
 $scope.ok = function(){
 $uibModalInstance.close();

 };
$scope.qty=[];
$scope.total= [];
 $scope.calculateTotal = function(qty,price,index){
 var price = price.split("$");
 if($scope.total[index] && $scope.qty[index]<=10){
 $scope.qty[index]+=1;
  $scope.total[index]+= parseInt(qty)*parseInt(price[1]);

 }
 else if($scope.qty[index] >10 && $scope.total[index]){
  }
 else{
  $scope.total[index]= parseInt(qty)*parseInt(price[1]);
  $scope.qty[index]=1;
 }


console.log(qty,price[1]);
 };

 $scope.reduceQuantity = function(qty,price,index){
 var price = price.split("$");
 if($scope.total[index] && $scope.total[index]>0 && $scope.qty[index]>0){
  $scope.total[index]-= parseInt(price[1]);
  $scope.qty[index]-=1;
 }
 else{

 }


console.log("reduce",qty,price[1]);

 };


});



</script>

</html>
 {% endblock %}
