<div>
 <head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="modal-header">
 <h3 class="modal-title" id="modal-title">Details of Product</h3>
<br>
 <br>
 <table style="width:100%">
  <tr>
    <th>Model</th>
    <th>Price</th>
    <th>Company</th>
   <th>Discount</th>
   <th></th>
   <th>Qty</th>
      <th>Total</th>
  </tr>
   {% verbatim %}
  <tr ng-repeat ="value in selection ">

    <td ng-repeat = "x in value track by $index" ><section ng-bind="x"></section></td>
   <td>
       <button ng-model="increaseQty[$index]" ng-click="calculateTotal(1,value['Price'],$index)">+</button>

       <button ng-model="reduceQty[$index]" ng-click="reduceQuantity(1,value['Price'],$index)">-</button>

   </td>
      <td>
          <section  ng-bind="qty[$index]"></section>

      </td>
      <td><section   ng-bind="total[$index]"></section></td>
  </tr>

 </table>


     {% endverbatim %}
<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
 <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>

</div>
 </div>